language: go
go:
  - 1.8
  - 1.9
  - tip
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6
before_install:
  - go get github.com/mattn/goveralls
  - ./contrib/grab-headless_shell.sh $HOME/hs
script:
  - export PATH=$PATH:$HOME/hs
  - CHROMEDP_NO_SANDBOX=true go test -v -coverprofile=coverage.out
  - goveralls -service=travis-ci -coverprofile=coverage.out
